/* --------------------------font link------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;500;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*------------------ header nav ------------------ */
/* main{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px 50px;
    
}
.menu{
    display: flex;
    text-decoration: none;
    align-items: center;
    
}
.menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding:0 10px;
}
.fas{
    font-size: 16px;
    padding-right: 10px;
}
.menu a:hover{
    color: #E02C6D;
}

/*-----------top part gear-info --------------- */

.gear-info{
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
}
.gear-heading{
    width: 50%;
    padding-left: 50px;
}
.gear-heading h1{
    font-size: 30px;
}

.gear-heading button{
    color: white;

    font-size: 16px;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    padding: 8px;
    
}

.gear-heading button .fa-arrow-right{
    font-size: 14px;
    margin-left: 5px;
}
.gear-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 50%;
}
.gear-img:hover{
    transform: scale(1.2);
    transition: transform 2s ease;
}

/*----------------- company logo ----------------- */

.company-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.company-logo img{
    margin:50px 15px;
}

/*------------ popular collection -------------------*/
.popular-collections{
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    justify-items: center;

}
.collection-heading{
    font-size: 26px;
    text-align: center;
    margin-bottom: 50px;

}
.collection-card{
    width: 330px;
    /* height: 476px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.collection-details{
    padding: 8px 16px;
}

.see-more{
    text-align: right;
    margin-right: 82px;
    margin-bottom: 50px;
}
.see-more a{
    color:#E02C6D;
    text-decoration: none;
}

.advertise-container{
    margin: 100px 80px;
    display: flex;
}
.advertise-poster{
    width: 50%;
}
.advertise-info{
    width: 50%;
}
.advertise-info h1{
    font-size: 38px;
}
.advertise-info p{
    width: 80%;
    font-size: 18px;
    font-weight: 600;
}
/*------------------- footer-----------------  */

footer{
  
    background-color: #0A0826;
    height:240px;
    color:white;
    
}
.foot-content{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-content h2{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
}
.foot-content h3{
    font-size: 12px;
    font-weight: 300;
    margin-top: 1px;
}
.foot-content h4{
    display: inline;
    font-style: 8px;
    font-weight: normal;
    margin:0;
}
.social-icon{
    font-size:30px;
    padding-bottom: 10px;
}


/*---------------------------------------- responsive for mobile--------------------------------*/


@media only screen and (max-width: 688px) {
    body {
      width: 100%;
      margin: 0;
    }
    nav{
        max-width: 100%;
    }
    .nav-head{
        width: 100%;
        display: flex;
        text-align: center;
        padding-left: 25px;
    }
    .menu {
        display: none;
    }
    /*----------- gear info -------------- */
    .gear-info {
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .gear-heading {
        width: 100%;
       padding: 44px 0;
       padding-left: 60px;
    }
    .gear-heading p{
        text-align:justify;
        padding-right: 60px;
        font-weight: 500;
    }
    .gear-heading button {
        color: white;
        font-size: 16px;
        background-color: #E02C6D;
        border: none;
        border-radius: 40px;
        padding: 12px 20px;
    }
    .gear-img {
        margin-top: 50px;
        background-image: url(images/Circle\ design.svg);
        background-size: 255px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .gear-img img{
        width: 202px;
        height: 190px;
    }
    /*---------- company logo ------ */
    .company-logo {
        display: flex;
        justify-content: center;
        
        flex-wrap: wrap;
       
    }

    .company-logo img{
        width: 33px;
        height: 18px;
    }
    .collection-heading {
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    .popular-collections {
        margin-top: 100px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
        justify-items: center;
    }

    .see-more {
        text-align: right;
        margin-right: 25px;
        margin-bottom: 50px;
    }
  
     /*---------- .advertise-container ----------  */
    .advertise-container {
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advertise-poster{
        width: 100%;
    }
    .advertise-poster img{
        width: 300px;
        height: 188px;
        
       padding-left: 38px; 
    }
    .advertise-info{
        width:100%;
        padding-left: 50px;
       
    }
    .advertise-info h1{
        font-size: 20px;
    }
    .advertise-info p{
        text-align: justify;
    }

 /*------------------- footer ------------------ */
    footer{
        width: 100%;
        background-color: #0A0826;
        height:211px;
        color:white;
        
    }
  }



  /*-------------- tablet responive --------------- */

  @media only screen and (min-width: 689px) and (max-width:1024px){
    body {
      width: 100%;
      
    }
/*-------------- header nav ------------------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px 30px;
    
}

.menu a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-right: 0px;
    padding: 0 10px;
}

/*------------ gear info -------------- */
.gear-info {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.gear-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
    display: flex;
    justify-content: center;
    width: 50%;
}
.gear-img img{
    width: 290px;
    height: 270px;
}

/* ----------company logo ------------------ */
.company-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

/* ------------popular collection ------------- */
.popular-collections {
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    justify-items: center;
}
/* --------------advertise container --------- */
.advertise-container {
    margin: 100px 54px;
    display: flex;
    flex-direction: column;
}
.advertise-info {
    width: 100%;
}
/* -----footer------------- */
footer{
    width: 100%;
}
  }
  